<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

.gdbar img {
  width: 50px !important;
  height: 50px !important;
}

.gdbar {
  width: 100px !important;
  height: 75px !important;
}

slides > slide:not(.nobackground):before {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}

#leftL {
  left:-16.33%;
  right:16.33%;
  top: 55px;
  text-align: left;
  float: left;
  width:60%;
  z-index:-10;
}

#rightL {
  left:16.33%;
  right:16.33%;
  top: 55px;
  float: right;
  text-align: left;
  z-index:-10;
  width:40%;
}

#left {
  left:-16.33%;
  right:16.33%;
  top: 75px;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:16.33%;
  right:16.33%;
  top: 75px;
  float: right;
  text-align: left;
  z-index:-10;
  width:50%;
}

#compact{ font-size:70%; 
line-height:1.2em;
}

.container{
    display: flex;
    padding: 0 1%;
}
.col{
 flex: 1;
  margin: 0 1%;
}

blockquote {
   background: #e3e8e3!important;
   padding: 10px 10px 10px 10px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++*/
/* reveal */
/*++++++++++++++++++++++++++++++++++++++++++++++++*/
.reveal .slide-number {
  font-size: 12pt;
  color: #547980; }
  

.reveal section img {background:none; border:none; box-shadow:none; }

.reveal .li {
   line-height:2.5em;
}


.reveal .slides {
  /* text-align: left;
  overflow: hidden;*/
  line-height: 1em;
  font-size: 70%; 
  width: 50% !important; 
  /* height: 95% !important;
  width: 90% !important; */
  /* min-height: 95% !important; */
  /* top: 0 !important;
  margin-top: 0px !important;
  margin-bottom: 10px !important;*/
  color: #594F4F !important; 
}

.reveal h2 {
  border-radius: 25px;
  width:90%;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 120%;
  font-weight: bold !important;
  color: #547980;
  line-height: 1.3em;
  margin: -40px 40px 40px 40px;
  top: -20 !important;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(145deg, #f0f0f0, #dee8ea);
box-shadow:  20px 20px 40px #547980,
             -20px -20px 40px #ffffff;
}

.reveal h1 {
  border-radius: 25px;
  text-align: center;
  /* font-family:'Roboto Condensed', sans-serif; */
  font-weight: bold !important;
/* margin-right: 10%; 
     margin-left: 10%;
    margin-top: 2%;  */
  font-variant: small-caps !important;
  font-size: 200%;
  /* text-shadow: 4px 4px #E7EBE0; */
  line-height: 2em;
  /* margin: 0px 20px 20px 0px; */
 /* margin-top: 25% !important;  */
  /*  font-family: 'Roboto Condensed', sans-serif; */
		color: #547980 !important;
    background: linear-gradient(145deg, #f0f0f0, #dee8ea);
      	padding-bottom: 20px;
	padding-left: 20px;
	padding-top: 20px;
    padding-right: 20px;
box-shadow: 20px 20px 40px #547980,
    -20px -20px 40px #ffffff;
  
}


.reveal .title {
  border-radius: 25px;
  text-align: center;
line-height: 4ex;
  color: #78a5a3;
  font-size:200%;
  box-shadow: none;
}

.reveal .subtitle {
  border-radius: 25px;
  text-align: center;
line-height: 4ex;
  color: #78a5a3;
 background-color: #444c5c;
  font-size:200%;
  box-shadow: none;
}

.reveal .date {
margin-top: 4em;
font-style: italic;
}


.line {
	background: #547980 !important;
}
/* reveal */

.reveal .progress {
  height: 6px;
  width: 100%;
  margin-bottom: 0em;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  color: #547980!important; }

/* .reveal pre code {
  background: #eff5f5;
/*   display: block;*/
/*   padding: 5px;
  overflow: scroll;
  max-height: 200px;
   word-wrap: normal;
   margin-top: 0em;
  } */

.reveal .logo {
	position: fixed;
	display: block;
	left: 1em;
	bottom: 1em;
	z-index: 31;
  width: 50px;
  height: 50px;
  background-image: url('./unitn_logo.png');
  background-size: 80px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
}

/********** Customise logo, and footer disclaimer **********/
/* Position the corporate logo in the top right of the page */
/* https://stackoverflow.com/questions/47022654/including-a-footer-an-every-slide-with-rmarkdown-and-revealjs */
/* Position the corporate logo in the top right of the page */
/* https://stackoverflow.com/questions/47022654/including-a-footer-an-every-slide-with-rmarkdown-and-revealjs */



div .boxed {
   border-radius: 10px;
  font-size: 80%;
  margin-top: 15px !important;
  padding: 20px;
  border: 3px solid #547980;
  background-color:#dee8ea;
}
  
div .small{
	font-size : 50%;overflow: hidden;
}

em {
  font-weight: bold;
  color: #E76900;
  font-style: normal;
}

.reveal ol,
.reveal ul {
	display: inline-block;
	text-align: left;
	margin: -0.5em 0em -0.5em 0em;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
	color: #547980;
}

.small {
  font-size: xx-small;
}

.border {
  border: 1px solid #dee2e6;
}

.border-thick {
  border-width: 3px;
}

.reveal .citation{
  font-size : 70%;
}

