{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
   <style>
      input[type=radio] {
        webkit-appearance: checkbox;
        transform: scale(1.2);
        margin:0px 0px 0px 10px;
      }
   </style>
{% endblock %}

{% block title %}
    Checker
{% endblock %}

{% block content %}
<div style="font-size: 24px; font-weight: bold" >
The number is {{player.display_value }}
</div>
<br>

<div style="font-size: 24px">
{% formfield player.input_checker %}
</div>

    {% next_button %}

{% endblock %}
